// BACKGROUND COLOR:
$bg-light-home: linear-gradient(360deg, #dfe8f8ab, #b4ccf684);
$bg-blue-dark: linear-gradient(180deg, #5180d8db, #A7BFE8);
$bg-blue-dark: linear-gradient(45deg, #55E7F8, #8579EC, #55E7F8);
$bg-blue-light-2: linear-gradient(30deg, #00aca450, #a1bdef);
$bg-green: linear-gradient(30deg, #2DFFF5, #FFF878);


// BUTTON COLOR:
$btn-home-main: #2b539d;
$btn-home-main-hover: #fec656;
$btn-hover: #78a5f938;
$btn-blue-hover: linear-gradient(30deg, #0ad1c750, #cee0ff);

// TEXT COLOR:
$text-blue: #004E92;
$text-black: #333;
$text-blue-2: #8AAEE0;

$linear-pink: linear-gradient(45deg, #FF6CAB, #7366FF);
$linear-yellow: linear-gradient(45deg, #FFCF18, #FF8818);
$linear-blue: linear-gradient(45deg, #00FFED, #0088BA);

// PAGE MAIN COLOR:
$bg-sign-up-page-btn: linear-gradient(30deg, #6157FF, #EE49FD);
$bg-login-page-btn: linear-gradient(120deg, #0172AF, #74FEBD);

$menu-hover: #D5DEEF;

$color-rd-coolsky: linear-radient(50deg, #2980B9, #6DD5FA);
$color-rd-neon: linear-gradient(30deg, #6157FF, #EE49FD);
$color-hx-yellow: #ffd42a;
$color-hx-yellow-dark: #FFCF18;
$color-hx-blue: #3580e8;
$color-hx-purple: #7c2796;
$color-hx-green: #1d7f3f;
$color-hx-orange: #FF8818;